
# modified .clang-format from
# https://github.com/torvalds/linux/blob/master/.clang-format

BasedOnStyle: WebKit

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: false
PointerAlignment: Right